# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Keep lockfile committed for deterministic builds

# Ingore files created by npm
node_modules
package-lock.json

# Local bundle install path
vendor/bundle/
